/* ================= HERO ================= */

.ed-hero{
  position:relative;
  height:95vh;
  width:100%;

  background-image:url("https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?q=80&w=1600&auto=format&fit=crop");
  background-size:cover;
  background-position:center;

  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

/* DARK OVERLAY */

.ed-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.75);
}

/* CONTAINER */

.ed-container{
  position:relative;
  width:85%;
  max-width:1300px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:2;
  color:white;
  margin-bottom: 150px;
  
}

/* LEFT */

.ed-left{
  max-width:500px;
}

.ed-dot{
  width:8px;
  height:8px;
  background:#ff7a18;
  border-radius:50%;
  display:inline-block;
  margin-right:8px;
}

.ed-mini{
  font-size:14px;
  margin-bottom:15px;
  opacity:0.9;
}

.ed-left h1{
  font-size:46px;
  font-weight:700;
  line-height:1.2;
}



/* BIG TEXT */

.ed-big-text{
  position:absolute;
  bottom:-40px;
  left:5%;
  font-size:220px;
  font-weight:800;
  color:rgba(251, 251, 251, 0.08);
  pointer-events:none;
  margin-right: 150px;
}

/* ----------------------------------------------------------------------------------------------------------------- */

.event-discovery-section{
display:flex;
align-items:center;
justify-content:space-between;
gap:50px;
padding:60px 8%;
background:#f9fafc;
}

.event-content{
flex:1;
max-width:620px;
}

.event-content h2{
font-size:36px;
font-weight:700;
margin-bottom:15px;
}

.event-content p{
font-size:15px;
line-height:1.6;
color:#555;
margin-bottom:25px;
}

/* FEATURE GRID */

.event-features{
display:grid;
grid-template-columns:repeat(1,1fr);
gap:10px;
margin-bottom:25px;
}

/* FEATURE CARD */

.feature-card{
background:white;
padding:10px 16px;
border-radius:10px;
font-size:14px;
font-weight:500;
box-shadow:0 4px 10px rgba(0,0,0,0.08);

opacity:0;
transform:translateY(25px);
animation:fadeUp 0.6s forwards;

transition:all 0.3s ease;
}

/* HOVER EFFECT */

.feature-card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(124,58,237,0.25);
background:#faf7ff;
}

/* ANIMATION DELAY */

.feature-card:nth-child(1){animation-delay:0.2s;}
.feature-card:nth-child(2){animation-delay:0.4s;}
.feature-card:nth-child(3){animation-delay:0.6s;}
.feature-card:nth-child(4){animation-delay:0.8s;}
.feature-card:nth-child(5){animation-delay:1s;}
.feature-card:nth-child(6){animation-delay:1.2s;}

@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}

/* BUTTON */

.event-btn{
padding:12px 26px;
border:none;
border-radius:25px;
background:#7c3aed;
color:white;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

.event-btn:hover{
background:#6d28d9;
transform:translateY(-2px);
}

/* IMAGE */

.event-image img{
width:380px;
border-radius:12px;
box-shadow:0 15px 40px rgba(0,0,0,0.15);
}

/* MOBILE */

@media(max-width:992px){

.event-discovery-section{
flex-direction:column;
text-align:center;
}

.event-image img{
width:260px;
margin-top:20px;
}

.event-features{
grid-template-columns:1fr;
}

}

/* -------------------------------------------------------------------------------------------------------------------------------- */

/* HERO */

.service-banner{
  height:100vh;
  background-image:url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30?q=80&w=1600&auto=format&fit=crop");
  background-size:cover;
  background-position:center;
  position:sticky;
  top:0;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay h1{
  color:white;
  font-size:70px;
}


/* CONTENT PANEL */

.service-text{
  max-width:1100px;
  margin:-120px auto 100px;
  padding:80px;

  /* background:rgba(255,255,255,0.75); */
  backdrop-filter:blur(8px);



  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.15);
  margin-top: 20px;
  color: #f6f6f6;
}


/* ROW */

.service-row{
  display:flex;
  align-items:center;
  gap:40px;
  margin-bottom:60px;
}


/* REVERSE */

.reverse{
  flex-direction:row-reverse;
}


/* IMAGE */

.service-img img{
  width:100%;
  max-width:420px;
  border-radius:12px;
}


/* TEXT */

.service-info h2{
  font-size:30px;
  margin-bottom:15px;
}

.service-info p{
  font-size:18px;
  line-height:1.7;
  color:#fcfbfb;
}




/* ------------------------------------------------------------------------------------------------------------ */




/* SECTION */

.about-section{
  /* background:#08290d; */
  padding:120px 8%;
}


/* CONTAINER */

.about-container{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:80px;
  max-width:1200px;
  margin:auto;
}


/* IMAGE */

.about-image img{
  width:100%;
  max-width:520px;
  border-radius:30px;
  object-fit:cover;
  height: 650px;
}


/* CONTENT */

.about-content{
  max-width:500px;
  color:rgb(94, 137, 33);
}


/* TITLE */

.about-content h1{
  font-size:64px;
  margin-bottom:25px;
  font-weight:600;
}


/* TEXT */

.about-content p{
  font-size:18px;
  line-height:1.8;
  margin-bottom:20px;
  color:#2f3633;
}


/* BUTTON */

.about-btn{
  margin-top:20px;
  padding:14px 32px;

  background:rgb(139, 215, 46);
  color:#092b0c;

  border:none;
  border-radius:30px;

  font-size:16px;
  font-weight:600;

  cursor:pointer;
  transition:0.3s;
}


.about-btn:hover{
  transform:translateY(-3px);
  background:rgb(134, 151, 112);
}

/* ------------------------------------------------------------------------------------------------------- */



/* SECTION HEADING */

.event-services h2{

  text-align:center;

  font-size:44px;

  font-weight:700;

  margin-bottom:50px;

  letter-spacing:1px;

  background:linear-gradient(90deg,#7c3aed,#a855f7);

  -webkit-background-clip:text;

  color:transparent;

  position:relative;

}

/* ANIMATED UNDERLINE */

.event-services h2::after{

  content:"";

  position:absolute;

  left:50%;

  bottom:-10px;

  transform:translateX(-50%);

  width:80px;

  height:4px;

  border-radius:2px;

  background:#7c3aed;

}
/* SECTION */

.event-services{
  padding:80px 6%;
  background:#f7f8fc;
}

/* GRID */

.services-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:40px;
}

/* CARD */

.service-card{
  position:relative;
  overflow:hidden;
  border-radius:18px;
  height:520px;
  cursor:pointer;
  transition:all .4s ease;
}

/* IMAGE */

.service-card img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:transform .7s ease, opacity .4s ease;
}

/* OVERLAY */

.card-overlay{
  position:absolute;
  inset:0;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;
  padding:30px;

  background:linear-gradient(
    180deg,
    rgba(0,0,0,0.25),
    rgba(0,0,0,0.75)
  );

  opacity:0;
  transform:translateY(30px);

  transition:all .5s ease;
}

/* SMALL TITLE */

.card-overlay span{
  font-size:22px;
  letter-spacing:2px;
  font-weight:600;
  color: #eecd0e;
}

/* DESCRIPTION */

.card-overlay h3{
  margin-top:12px;
  font-size:22px;
  line-height:1.5;
  font-weight:600;
  color:#fbfbfa !important;
}

/* HOVER EFFECT */

.service-card:hover img{
  transform:scale(1.15);
  opacity:0.35;
}

.service-card:hover .card-overlay{
  opacity:1;
  transform:translateY(0);
}

/* CARD LIFT */

.service-card:hover{
  transform:translateY(-12px);
  box-shadow:0 30px 70px rgba(0,0,0,0.25);
}

/* MOBILE */

@media(max-width:992px){

.services-grid{
  grid-template-columns:1fr;
}

.service-card{
  height:350px;
}

}